.social {
  @include list-reset;
  font-weight: 400;
  display: flex;
  margin: 25px 0 0;
}

.social__item {
  font-size: 16px;
  line-height: 24px;
  text-transform: lowercase;
  color: $main-dark;
  opacity: 0.4;
  transition: all 0.3s;
  padding-bottom: 2px;
  border-bottom: 1px solid $main-dark;
  &:hover {
    opacity: 1;
  }
  &:not(:last-child) {
    margin-right: 16px;
  }
}